.app {
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-input {
        border: 1px solid grey;
    }
    &-field {
        border: 1px solid lightblue;
        & > input {
            &:invalid {
                background-color: rgb(223, 223, 223);
            }
            &:valid {
                background-color: rgb(172, 255, 169);
            }
        }
    }
}